h1{
    font-style: italic;
    text-align: center;
    color: blue;
}
td{
    text-align: center;
}

th,td{
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 3px;
}

tr:hover,td:hover{
    background-color: rgb(160, 113, 113);
}

a:link{
    text-decoration: none;
}